@model string

<h2>Создание роля</h2>
<form method="post" asp-controller="Role" asp-action="Create">
    <div asp-validation-summary=ModelOnly></div>
    <div class= "form-group">
        <lable for="name">New role</lable><br/>
        <input name="name" class="form-control" />
    </div> 
    <div>
        <button type="submit" class="btn btn-primary">Add</button><br />
    </div>
</form>

