@model WebApplication2.ViewModels.RegisterViewModel
<h2>Cоздать нового пользователя</h2>
<form method="post" asp-controller="User" asp-action = "Create">
    <div asp-validation-summary=ModelOnly></div>
    <div>
        <lable asp-for="Email">Email</lable><br/>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <lable asp-for="Year">Birth year</lable><br/>
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <lable asp-for="Password">Password</lable><br/>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <lable asp-for="PasswordConfirm">PasswordConfirm</lable><br/>
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type = "submit" value = "Регистрация" />
    </div>



</form>
