@model IEnumerable<User>

<table>
    <tr>
        <th>Email</th>
        <th>Год рождения</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.BirthYear</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form asp-action="Edit" asp-route-id="@user.Id" method="get">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
        </tr>
    }
</table>
<form asp-controller="User" asp-action="Create" method="get">
    <button type="submit" class="btn">Create</button>
</form>