@model WebApplication2.ViewModels.LoginViewModel

<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary=ModelOnly></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email"></input>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password"></input>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe"></input>
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div>
        <input type="submit" value="Войти" /><br/>
    </div>
    <div>
        Если у вас нету аккаунта <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Зарегестрируйтесь</a>
    </div>
</form>

