@model WebApplication2.ViewModels.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action = "Register">
    <div asp-validation-summary=ModelOnly></div>
    <div>
        <lable asp-for="Email">Email</lable><br/>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <lable asp-for="UserName">User name</lable><br/>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <lable asp-for="Password">Password</lable><br/>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <lable asp-for="PasswordConfirm">PasswordConfirm</lable><br/>
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input type = "submit" value = "Регистрация" />
    </div>



</form>
